<% questions.each do |question| %>
  <% @official = Official.find(question.official_id) %>
  <% if @official.district_id == 3 %>
    <div class="q_block index nat">
  <% elsif @official.district_id == 2 %>
    <div class="q_block index state">
  <% else %>
    <div class="q_block index city">
  <% end %>
    <div class="q_vote_form"><%= render 'vote_forms', question: question %></div>
    <div class="q_title"><%= link_to question.title, question %></div>
    <div class="q_body"><%= question.body %></div>
    <div class="q_asked_by"><h>Asked by:  </h>
      <%= link_to(User.find(question.user_id)) do %>
      <%= User.find(question.user_id).name %>
      <% end %>
    </div>
  </div>
<% end %>