<div id="voteForm_<%= question.id %>">
  <div id="upvote_<%= question.id %>">
    <% if current_user.didvoteQ?(question, true) %>
      <%= render 'undoupvote', :question => question %>
    <% else %>
      <%= render 'changeupvote', question: question %>
    <% end %>
  </div>

  <div class="stats" id="stats_<%= question.id %>">
    <%= render 'stats', :question => question %>
  </div>

  <div id="downvote_<%= question.id %>">
    <% if current_user.didvoteQ?(question, false) %>
      <%= render 'undodownvote', :question => question %>
    <% else %>
      <%= render 'changedownvote', question: question %>
    <% end %>
  </div>
</div>
