<% if current_user.didvote?(question, true) %>
	<%= render 'undoupvote', :question => question %>
<% else %>
	<%= render 'upvote', :question => question %>
<% end %>

<div class="stats">
	<%= render 'stats', :question => question %>
</div>

<% if current_user.didvote?(question, false) %>
	<%= render 'undodownvote', :question => question %>
<% else %>
	<%= render 'downvote', :question => question %>
<% end %>