<% if question.didvote?(current_user, true) %>
	<%= render 'undoupvote', :question => question %>
<% else %>
	<%= render 'upvote', :question => question %>
<% end %>

<div class="stats">
	<%= render 'stats', :question => question %>
</div>

<% if question.didvote?(current_user, false) %>
	<%= render 'undodownvote', :question => question %>
<% else %>
	<%= render 'downvote', :question => question %>
<% end %>