<% if current_user %>

<div class="question_list">
<h1>Your Recent Questions</h1>

<div class="q_sort_menu">
  <%= link_to 'Sort by Ranking', questions_reorder_path(:state => 1), :remote => true, :class => "q_sort btn" %></br>
  <%= link_to 'Sort by Controversy', questions_reorder_path(:state => 2), :remote => true, :class => "q_sort btn" %></br>
  <%= link_to 'Sort by Most Recent', questions_reorder_path(:state => 3), :remote => true, :class => "q_sort btn" %>
</div>

<% questionList = Question.order('rank_value DESC') %>
<div id="questions">
  <%= render 'questionBlock', :questions => questionList %>
</div>

<br />
<%= link_to 'New Question', new_question_path, :class => 'btn btn-large btn-primary' %>

<iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fapps.facebook.com%2Fasqus-mvp%2F&amp;send=false&amp;layout=standard&amp;width=450&amp;show_faces=true&amp;font=arial&amp;colorscheme=light&amp;action=like&amp;height=80&amp;appId=264822796973610" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:80px; float:right;" allowTransparency="true"></iframe>
  <div id="fb-root"></div>
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '264822796973610', // App ID
        status     : true, // check login status
        cookie     : true, // enable cookies to allow the server to access the session
        xfbml      : true  // parse XFBML
      });
    };

    // Load the SDK Asynchronously
    (function(d){
      var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
      js = d.createElement('script'); js.id = id; js.async = true;
      js.src = "//connect.facebook.net/en_US/all.js";
      d.getElementsByTagName('head')[0].appendChild(js);
    }(document));
  </script>

  


</div>
<div class="clear"></div>


<% else %>

<p>Sign using one of these services:</p>
  <div class="social_sign_in">
  <a href="/auth/twitter" class="auth_provider">
  <%= image_tag "twitter_64.png", :size => "64x64", :alt => "Twitter" %></a>
<a href="/auth/facebook" class="auth_provider">
  <%= image_tag "facebook_64.png", :size => "64x64", :alt => "Facebook" %></a>
  </div>
  <div class="other_sign_in">
<p> Don't use these services? <p>
<%= link_to "Sign In", new_session_path %>
  </div>

  <div class="new_sign_in">
<p> New user? <p>
  <%= link_to "Sign Up", new_user_path %>
  </div>
  <br />
  </div>
<% end %>


