<p id="notice"><%= notice %></p>

<div class="q_block">
  <div class="q_vote_form"><%= render 'vote_forms', question: @question %></div>
  <div class="q_title"><%= @question.title %></div>
  <div class="q_body"><%= @question.body %></div>
  <div class="q_asked_to"><h>Asked to:  </h>
      <%= link_to(Official.find(@question.official_id)) do %>
      <%= Official.find(@question.official_id).name %>, the
      <%= Official.find(@question.official_id).position %>
      <% end %>
  </div>
</div>

<div class="q_buttons">
<% if current_user == @question.user %>
  <div class="q_buttons_edit btn">
  <%= link_to 'Edit', edit_question_path(@question) %>
  </div>
  <div class="q_buttons_destroy btn btn-danger">
  <%= link_to 'Destroy', @question, confirm: 'Are you sure?', method: :delete %>
  </div>
<% end %>
  <div class="q_buttons_back btn">
  <%= link_to 'Back to questions', questions_path %>
  </div>
</div>

<p>
<div class="response_list">
    <% @question.responses.each do |response| %>
      <div class="q_response_block">
        <div class="q_office"><%= link_to response.user.name, response.user %></td></div>
        <div class="q_body"><%= response.body %></div>
      </div>
    <% end %>
</div>

<h1>Comments</h1>
<div id="comments">
<%=render :partial => 'comments/index',:locals => {:commentable=> @question,:comments => @comments}%>
</div>

<%= render :partial => "comments/new", :locals => { :commentable => @question }%><br/>

