<% provide(:title, @official.name) %>
<div class="row">

  <div class="official_show_block span8">
    <p id="notice"><%= notice %></p>
      <% if (@official.name == "John Hiefjte") %>
        <div class="o_picture"><%= image_tag "john.jpg" %></div>
      <% elsif (@official.name == "Rick Snyder") %>
        <div class="o_picture"><%= image_tag "rick.jpg" %></div>
      <% else %>
        <div class="o_picture"><%= image_tag "fb_user.png" %></div>
      <% end %>
    <h2>
      <%= @official.name %>
    </h2>
    <h3>
      <%= @official.position %>
    </h3>

    <p>
      <b>Email:</b>
      <%= @official.email %>
    </p>
    <% if (current_user.official_id != @official.id) %>
      <%= link_to 'Ask Question', new_question_path({ :office => @official.id }), :class => 'btn btn-primary' %>
    <% end %>
  </div>
  <div class="span8 questionList">
    <% if @official.questions.any? %>
      <h3>Questions (<%= @official.questions.count %>)</h3>
      <ol class="questions">
        <%= render @questions %>
      </ol>
      <%= will_paginate @questions %>
    <% end %>
  </div>
</div>
