<h1>Listing users</h1>

<div class="user_list">
<% @users.each do |user| %>
  <div class="user_block">
    <%= link_to user do %>
    <div class="u_picture"><%= image_tag "fb_user.png" %></div>
    <% end %>
    <div class="u_name"><%= user.name %></div>
    <div class="u_email"><%= link_to user.email, "mailto:"+user.email %></div>
  </div>
<% end %>
</div>

<br />
<%= link_to 'New User', new_user_path, :class => 'btn btn-large btn-primary' %>
