<% provide(:title, @user.name) %>
<div class="row">

  <div class="user_show_block span8">
    <p id="notice"><%= notice %></p>

    <div class="u_picture"><%= image_tag "fb_user.png" %></div>
    <h2>
      <%= @user.name %>
    </h2>

    <p>
      <b>Email:</b>
      <%= @user.email %>
    </p>

    <p>
      <b>Address:</b>
      <%= @user.address %>
    </p>

    <p>
      <b>Birthdate:</b>
      <%= @user.birthdate %>
    </p>

    <%= link_to 'Ask Question', new_question_path({ :office => @user.name }), :class => 'btn btn-primary' %>
    <%= link_to 'Edit', edit_user_path(@user) %> |
    <%= link_to 'Back', users_path %>
  </div>
  <div class="span8 questionList">
    <% if @user.questions.any? %>
      <h3>Questions (<%= @user.questions.count %>)</h3>
      <ol class="questions">
        <%= render @questions %>
      </ol>
      <%= will_paginate @questions %>
    <% end %>
  </div>
</div>
