<%= form_for(@poll) do |f| %>
  <% if @poll.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@poll.errors.count, "error") %> prohibited this poll from being saved:</h2>

      <ul>
      <% @poll.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  </br>
  <div class="field p_form_title">
    <%= f.label "Title:" %>
    <%= f.text_field :title %>
  </div>
  <div class="field p_form_body">
    <%= f.label "Body:" %>
    <%= f.text_area(:body, :rows => 15) %>
  </div>
  <div id="option_selector" class="field">
    <%= f.label "Poll Options:" %>
    <%= f.select(:poll_options_set_id, PollOptionsSet.all.collect {|p| [ p.set_type, p.id ] }  + [ [ 'create new poll options set', -1 ] ],{:include_blank => true,}, 
      {:data => {
          :remote => true,
          :url => url_for(:controller => "polls", :action => "update_btns")}
        }) %>
  </div>
  <div id="newPOS"></div>
  <div id="previewBtns"></div>
  <div id="previewChart" class="p_chart_hidden"></div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
