<%= form_for(current_user.up_relations.build(poll_id: poll.id, updown: true, user_id: current_user.id), remote: true) do |f| %>
	<div><%= f.hidden_field :poll_id %></div>
	<div><%= f.hidden_field :updown %></div>
	<div><%= f.hidden_field :user_id %></div>
	<%= f.submit "", type: :image, src: "/assets/images/arrows/up.gif", class: "imgButton" %>
<% end %>