<% content_for :head do %>
  <title>Population Density</title>
  
  <%= javascript_include_tag "polymaps" %>
  <%= stylesheet_link_tag "example" %>
  <%= stylesheet_link_tag "population" %>
 
  <style type="text/css">

@import url("example.css");
@import url("population.css");

body {
  background: #FFFFFF;
}

.layer path {
  fill: none;
  vector-effect: non-scaling-stroke;
}

#county path {
  stroke: rgb(192, 192, 192);
  stroke-opacity: .25;
  shape-rendering: crispEdges;
}

#state path {
  stroke: #fff;
  stroke-width: 1.5px;
}

#copy {
  color: #000;
  opacity: .5;
}

#copy a {
  color: #000;
}

    </style>
  
<% end %>

<div id="fb-root"></div>
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '264822796973610', // App ID
        status     : true, // check login status
        cookie     : true, // enable cookies to allow the server to access the session
        xfbml      : true  // parse XFBML
      });
    };

    // Load the SDK Asynchronously
    (function(d){
      var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
      js = d.createElement('script'); js.id = id; js.async = true;
      js.src = "//connect.facebook.net/en_US/all.js";
      d.getElementsByTagName('head')[0].appendChild(js);
    }(document));
  </script>
<fb:like href="http://polar-reaches-7121.herokuapp.com/polls/1" send="true" width="450" show_faces="false"></fb:like>
<body id="map">
   <%= javascript_include_tag "population" %>
   

</body>



<div class="polls_list">
<h1>Listing polls</h1>
<% @polls.each do |poll| %>
  <% @official = Official.find(poll.official_id) %>
  <% if @official.district_id == 3 %>
    <div class="p_block index nat">
  <% elsif @official.district_id == 2 %>
    <div class="p_block index state">
  <% else %>
    <div class="p_block index city">
  <% end %>
    <div class="p_vote_form"><%= render 'polls/vote_states/vote_forms', poll: poll %></div>
    <div class="p_title"><%= link_to poll.title, poll %></div>
    <div class="p_body"><%= raw(poll.body) %></div>
    <div class="p_asked_by"><h>Asked by:  </h>
        <%= link_to(User.find(poll.user_id)) do %>
        <%= User.find(poll.user_id).name %>
        <% end %>
    
    </div>
    <fb:like href="http://polar-reaches-7121.herokuapp.com/polls/<%= poll.id %>" send="true" width="450" show_faces="false"></fb:like>
  </div>

<% end %>
<% if(current_user.official_id) %>
<div class="p_new">
  <%= link_to 'New Poll', new_poll_path({ :office => current_user.official_id }), :class => 'btn btn-large btn-primary' %>
</div>
<% end %>
</div>
