<p id="notice"><%= notice %></p>

<div class="p_title">
  <%= @poll.title %>
</div>
<div class="p_body">
  <%= @poll.body %>
</div>
<div id="answers" class="p_answer_set">
  <%= render 'up_relations/renderPollAnswers', poll: @poll %>
</div>
<div id="chart" class="p_chart_hidden"></div>

<h1>Comments</h1>
<div id="comments">
<%=render :partial => 'comments/index',:locals => {:commentable=> @poll,:comments => @comments}%>
</div>

<%= render :partial => "comments/new", :locals => { :commentable => @poll }%><br/>

<%= link_to 'Back', polls_path %>
