<p id="notice"><%= notice %></p>

<div class="p_title">
  <%= @poll.title %>
</div>
<div class="p_answer_set">
  <% optionSet = ActiveSupport::JSON.decode(PollOptionsSet.find(@poll.poll_options_set_id).options) %>
  <% optionSet.each do |key, value| %>
    <%= link_to value, key, :class => "p_answer_option btn" %>
  <% end %>
</div>
<div class="p_body">
  <%= @poll.body %>
</div>
<%= link_to 'Edit', edit_poll_path(@poll) %> |
<%= link_to 'Back', polls_path %>

