<% content_for :head do %>
  
  <meta property="fb:app_id" content="264822796973610" /> 
  <meta property="og:type" content="asqus-mvp:poll" /> 
  <meta property="og:title" content="<%= @poll.title %>" /> 
  <meta property="og:image" content="http://polar-reaches-7121.herokuapp.com/assets/asquslogo.jpg" /> 
  <meta property="og:description" content="<%= @poll.body %>" /> 
  <meta property="og:url" content="http://polar-reaches-7121.herokuapp.com/polls/<%= @poll.id %>" />

  <meta name= "twitter:card" content="summary">
  <meta name= "twitter:url" content="http://polar-reaches-7121.herokuapp.com/polls/<%= @poll.id %>" />
<meta name= "twitter:title" content="<%= @poll.title %>" />
<meta name= "twitter:description" content="<%= @poll.body %>" /> 
<meta name= "twitter:image" content="http://polar-reaches-7121.herokuapp.com/assets/asquslogo.jpg" /> 

<% end %>
<script type="text/javascript">
  function postPoll()
  {
      FB.api(
        '/me/asqus-mvp:answer',
        'post',
        { poll: 'http://polar-reaches-7121.herokuapp.com/polls/<%= @poll.id %>' },
        function(response) {
           if (!response || response.error) {
              alert('Error occured');
           } else {
              alert('You successfully posted to Facebook! Action ID: ' + response.id);
           }
        });
  }
  </script>
<!-- _______________________________________________________________
____________________________________________________________________
____________________________________________________________________
______________________Facebook feed test________________________ -->
<% if current_user %>
<% if(current_user.official_id) %>

<div id='fb-root'></div>
    <script src='http://connect.facebook.net/en_US/all.js'></script>
    <p><a class="btn" onclick='postToFeed(); return false;'>Ask your constituents on Facebook!</a></p>
    <p id='msg'></p>

    <script> 
      FB.init({appId: "264822796973610", status: true, cookie: true});

      function postToFeed() {

        // calling the API ...
        var obj = {
          method: 'feed',
          redirect_uri: 'http://polar-reaches-7121.herokuapp.com/polls/<%= @poll.id %>',
          link: 'http://polar-reaches-7121.herokuapp.com/polls/<%= @poll.id %>',
          picture: 'http://polar-reaches-7121.herokuapp.com/assets/asquslogo.jpg',
          name: 'PDP Poll',
          caption: '<%= @poll.title %>',
          description: 'Click for more information!'
        };

        function callback(response) {
          document.getElementById('msg').innerHTML = "Post ID: " + response['post_id'];
        }

        FB.ui(obj, callback);
      }
    
    </script>
<%end%>
<!-- _______________________________________________________________
____________________________________________________________________
____________________________________________________________________
______________________Facebook feed test end________________________ -->



<p id="notice"><%= notice %></p>

<div class="p_title">
  <%= @poll.title %>
</div>
<div class="p_body">
  <%= @poll.body %>
</div>
<div id="answers" class="p_answer_set">
  <%= render 'up_relations/renderPollAnswers', poll: @poll %>
</div>
<div id="chart" class="p_chart_hidden"></div>

<h1>Comments</h1>
<div id="comments">
<%=render :partial => 'comments/index',:locals => {:commentable=> @poll,:comments => @comments}%>
</div>

<%= render :partial => "comments/new", :locals => { :commentable => @poll }%><br/>

<%= link_to 'Back', polls_path %>


<fb:like href="http://polar-reaches-7121.herokuapp.com/polls/1" send="true" width="450" show_faces="false"></fb:like>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">Tweet</a>



  <% if current_user.official_id == nil %>
  <form>
    <input type="button" value="Say you answered this on Facebook!" onclick="postPoll()" />
  </form>
  <% end %>

<% else %>
<% if flash[:notice] %>
      <p class="notice"><%= flash[:notice] %></p>
<% end %>

<p>Sign using one of these services:</p>
  <div class="social_sign_in">
  <a href="/auth/twitter" class="auth_provider">
  <%= image_tag "twitter_64.png", :size => "64x64", :alt => "Twitter" %></a>
<a href="/auth/facebook" class="auth_provider">
  <%= image_tag "facebook_64.png", :size => "64x64", :alt => "Facebook" %></a>
  </div>
  <div class="other_sign_in">
<p> Don't use these services? <p>
<%= link_to "Sign In", new_session_path %>
  </div>

  <div class="new_sign_in">
<p> New user? <p>
  <%= link_to "Sign Up", new_user_path %>
  </div>
  <br />
  </div>
<% end %>