<%= form_for(@response, :questionID => params[:questionID]) do |f| %>
  <% if @response.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@response.errors.count, "error") %> prohibited this response from being saved:</h2>

      <ul>
      <% @response.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="question_header">
    <div class="q_h_title">
    <%= @question.title %>
    </div>
    <div class="q_h_body">
    <%= @question.body %>
    </div>
    <div class="q_h_askedby">
    Asked by: <%= @question.user.name %>
    </div>
  </div>
  <div class="field">
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
