<!DOCTYPE html>
<html>
<head prefix="og: http://ogp.me/ns#">
  <title>Mvp</title>


  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= yield :head %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

<!-- </head>
<body> -->
  <%= render 'layouts/header' %>  
  
  <div class="container">
    <%= yield %>
  </div>

  <div id="u_picture"><%= image_tag "asquslogo.jpg" %></div>

</body>
</html>
