<!DOCTYPE html>
<html>
<head>
  <title>Mvp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "uq_relations/_render.js.erb" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header' %>  
  
  <div class="container">
    <%= yield %>
  </div>

  <div id="u_picture"><%= image_tag "asquslogo.jpg" %></div>

</body>
</html>
